
@{
    ViewBag.Title = "Contact";
}

<style>
    #contactstyle h3 {
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
    }

    #contactstyle h3 a {
        color:  #ffc266;        
    }
</style>

<div class="text-vertical-center" id="contactstyle">
    <h1> Ways to connect with Matt Thoman</h1>
    <h3>
        <a href="mailto:namohtm@gmail.com">Email: namohtm@gmail.com</a><br />
        <a class="facebook" rel="nofollow" target="_blank" href="http://www.facebook.com/matt.david.77777?u=@Request.Url.ToString()">facebook</a><br />
        <a class="linkedin" rel="nofollow" target="_blank" href="https://www.linkedin.com/in/matt-thoman?u=@Request.Url.ToString()">linkedin</a><br />
        <a class="github" rel="nofollow" target="_blank" href="https://github.com/Matt15BRJ?u=@Request.Url.ToString()">github</a><br />
    </h3>

    
   
</div>

